name: Manual Deployment - enforce multistage

run-name: >
  Deploy ${{ inputs.release_version }}
  to ${{ inputs.environment }}
  (${{ inputs.datacenter }})

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        type: choice
        required: true
        options:
          - test
          - int

      datacenter:
        description: "Target datacenter"
        type: choice
        required: true
        options:
          - dc1
          - dc2
          - dc3

      release_version:
        description: "Release version (e.g. 1.4.2 or commit SHA)"
        required: true
        type: string

      dry_run:
        description: "Dry run (no changes applied)"
        required: false
        default: false
        type: boolean

      change_ticket:
        description: "Change ticket / reference (optional)"
        required: false
        type: string

jobs:
  deploy:
    name: Deploy ${{ inputs.release_version }} to ${{ inputs.environment }}
    runs-on: ubuntu-latest

    # GitHub Environment (secrets + approvals)
    environment: ${{ inputs.environment }}

    steps:
      - name: Show deployment parameters
        run: |
          echo "Environment     : ${{ inputs.environment }}"
          echo "Datacenter      : ${{ inputs.datacenter }}"
          echo "Release version : ${{ inputs.release_version }}"
          echo "Dry run         : ${{ inputs.dry_run }}"
          echo "Change ticket   : ${{ inputs.change_ticket }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          echo "Starting deployment..."
          # ./deploy.sh \
          #   --env "${{ inputs.environment }}" \
          #   --dc "${{ inputs.datacenter }}" \
          #   --version "${{ inputs.release_version }}" \
          #   ${{ inputs.dry_run && '--dry-run' || '' }}
  
  deploy-secret-check:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      deployments: read

    steps:
      - name: Check gh auth
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh auth status


  deploy-prod-check:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Check release promoted from test
        if: inputs.environment == 'int'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e

          echo "Checking if release ${{ inputs.release_version }} was deployed to tes..."

          deployments=$(gh api \
            /repos/${{ github.repository }}/deployments \
            --paginate \
            -q '.[] | select(.environment=="test") | .payload.release_version')

          if ! echo "$deployments" | grep -qx "${{ inputs.release_version }}"; then
            echo "❌ Release was NOT deployed to test"
            exit 1
          fi

          echo "✅ Release already deployed to test"          