name: Test Environments 

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test    
    steps:
      - name: Runner info
        run: |
          echo "Runner name: $RUNNER_NAME"
          echo "OS: $RUNNER_OS"
          echo "Arch: $RUNNER_ARCH"
          uname -a

      - name: Test Secrets
        run: |
          echo " secret 1 $SECRET1 "
